@model CardShop.Models.Compra


<table class="table">
    <thead>
        <tr>
            <th>
                Cantidad de Postres Vendidos
            </th>

            <th>
                Cantidad de Bebidas Vendidas
            </th>

            <th>
                Cantidad de Comidas Vendidas
            </th>
        </tr>
    </thead>
    <tbody>
        

        @{var cantPostre = 0;
            var cantComida = 0;
            var cantBebida = 0;

            foreach (var item in Model.Carrito.CarritosItems)
            {
                foreach (var p in item.Producto.Categoria)
                {
                    if (p.Equals("Postre"))
                    {
                        cantPostre += item.Cantidad;
                    }
                    if (p.Equals("Comida"))
                    {
                        cantComida += item.Cantidad;
                    }
                    if (p.Equals("cantBebida"))
                    {
                        cantBebida += item.Cantidad;
                    }
                }

            }
        }
        <tr>
            <td>
                @cantPostre.ToString()
            </td>
            <td>
                @cantBebida.ToString()
            </td>
            <td>
                @cantComida.ToString()
            </td>
        </tr>
</tbody>
</table>












