@{
    ViewData["Title"] = "Home Page Admin";
}

<section class="text-center">
    <div class="text-center">

        <h1 class="display-4">Administrador</h1>
        <br />


        <div class="banner">
            <a align="left" href="@Url.Action("Index", "Productoes")" class="elements">
                <img src="~/Img/Menu-Foto2.jpg" height="160" width="300">
            </a>
            <b>Productos</b>

            <br />
            <br />
            <br />
            <a href="@Url.Action("Index", "Usuarios")" class="elements">
                <img src="~/Img/Usuarios.jpg" height="160" width="300">
            </a>
            <b>Usuarios</b>

            <br />
            <br />
            <br />

            <a href="@Url.Action("Estadisticas", "Compras")" class="elements">
                <img src="~/Img/estadisticas.jpg" height="160" width="300">
            </a>
            <b>Estadisticas</b>


        </div>
    </div>

</section>
