@model CardShop.Models.Usuario
@{
    ViewData["Title"] = "Home Page Ingreso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="text-center">
    <div class="text-center">


        <h1 class="display-4">Bienvenido al Menú!</h1>

        <div class="text-center">
            <a align="left" href="@Url.Action("Index", "Productoes")" class="elements">
                <img src="~/Img/Menu-Foto2.jpg" width="300">
                Productos
            </a>
            <br>

            <a align="rigth" href="@Url.Action("CarritoUsuario", "Carritos", @User.FindFirst("IdUsuario").Value)" class="elements">
                <img src="~/Img/Carrito.png" width="300" />
                Ver Carrito
            </a>


        </div>
    </div>
</section>