@{
    ViewData["Title"] = "Carrito de Compra";
}
<h1>@ViewData["Title"]</h1>

<p>Programación en Nuevas Tecnologías 1</p>
<br />
<h1>Hecho por</h1>
<li>Agustin Benvenuto</li>
<li>Luciano Sanchez</li>
<li>Leandro Schargorodsky</li>


