@model CardShop.Models.CarritoItem

<h3>Está seguro en borrar el Item?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Nombre)
            ➜
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>
    </dl>

        <form asp-action="BorrarItem">
            <input type="hidden" asp-for="CarritoItemId" />
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </form>

    <form asp-action="CarritoUsuario">
        <input type="hidden" asp-for="@Model.Carrito.UsuarioID" />
        <input type="submit" value="Volver atrás" class="card-columns" />

    </form>

</div>